.step-1
    display: none
    &.show
        display: block
.step-2
    display: none
    &.show
        display: block
.step-3
    display: none
    &.show
        display: block
.bar
    background-color: gray;
    border-radius: 50% 50%;
    line-height: 100px
    &.focus
        background-color: #ffc8be;
.progress
    height: 5px;
    margin-top: -60px;
    margin-left: 125px;
    margin-right: 44px;
    width: 400px;
.progress-bar
    &.step2
        width: 50%
    &.step3
        width: 100%
