.step-1
    display: none
    &.show
        display: block
.step-2
    display: none
    &.show
        display: block
.step-3
    display: none
    &.show
        display: block
.bar
    border-bottom: 7px solid rgba(187,200,193,.5);
    padding-bottom: 1rem
    &.focus
        border-bottom: 7px solid $black;